flows/luchtvochitgheid v2(smart lamp).json
[{"id":"cb04c2a971a28c8f","type":"tab","label":"Flow 2","disabled":true,"info":"","env":[]},{"id":"4864378479941b34","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"048385f20640044d","type":"arduino-board","device":"/dev/ttyACM0"},{"id":"5e75b1098ebb33e7","type":"ui_tab","name":"HVA","icon":"Sprint 1","disabled":false,"hidden":false},{"id":"099af9fe1f81df1f","type":"ui_group","name":"Sprint 1","tab":"5e75b1098ebb33e7","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"5a80b43a04dc2653","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a3d3be54a65a810a","type":"wiz-config","z":"4864378479941b34","name":"","interface":"wlan0"},{"id":"1729ceffe5130b3e","type":"smartthings-config","name":"thuis","token":"05ad613b-b252-4365-a51d-b79b7bb4e86c"},{"id":"8d1f136120e3ada3","type":"ui_tab","name":"Testme","icon":"dashboard","disabled":false,"hidden":false},{"id":"964cdbdcb3249390","type":"ui_group","name":"Test","tab":"8d1f136120e3ada3","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6d07c225caa08e2c","type":"wiz-config","name":"","interface":"wlan0"},{"id":"94405c90ad4204dd","type":"arduino in","z":"cb04c2a971a28c8f","name":"","pin":"5","state":"ANALOG","arduino":"048385f20640044d","x":130,"y":300,"wires":[["82121aa8914b9e65","d91ea386a36b34e7","7481248ef18ebef0"]]},{"id":"d91ea386a36b34e7","type":"file","z":"cb04c2a971a28c8f","name":"","filename":"/home/robka/Downloads/luchvochtigheid.log","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":770,"y":480,"wires":[[]]},{"id":"82121aa8914b9e65","type":"switch","z":"cb04c2a971a28c8f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gte","v":"40","vt":"str"},{"t":"gte","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":220,"wires":[["51866ba89bd780de","fcf5a9603f678fa4","8a276fffc202e486","164f470c4bcd85fa"],["b9310469e8c717f2","14837ea1dd4b0d93","eb475f12b4c2e9b3","8cbe4bbc53aec683"],["289fa0350ef747c1","fcf5a9603f678fa4","8a276fffc202e486","164f470c4bcd85fa"]]},{"id":"51866ba89bd780de","type":"change","z":"cb04c2a971a28c8f","name":"too dry","rules":[{"t":"set","p":"payload","pt":"msg","to":"Het is droog in de kamer, zet een raam open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[["94d8e58b32fe9bf9","1deb3c9bac19e969"]]},{"id":"b9310469e8c717f2","type":"change","z":"cb04c2a971a28c8f","name":"perfect","rules":[{"t":"set","p":"payload","pt":"msg","to":"De luchtvochtigheid in de kamer is optimaal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":160,"wires":[["94d8e58b32fe9bf9"]]},{"id":"289fa0350ef747c1","type":"change","z":"cb04c2a971a28c8f","name":"too wet","rules":[{"t":"set","p":"payload","pt":"msg","to":"de kamer is veel te nat, zet een raam open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["94d8e58b32fe9bf9","673a6bb436b6adf8"]]},{"id":"94d8e58b32fe9bf9","type":"ui_text","z":"cb04c2a971a28c8f","group":"099af9fe1f81df1f","order":2,"width":0,"height":0,"name":"","label":"Status luchvochtigheid","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":920,"y":260,"wires":[]},{"id":"82ccd81bee9c97ef","type":"arduino out","z":"cb04c2a971a28c8f","name":"green","pin":"10","state":"OUTPUT","arduino":"048385f20640044d","x":870,"y":300,"wires":[]},{"id":"d2ac7fa4ea0a2634","type":"arduino out","z":"cb04c2a971a28c8f","name":"red","pin":"9","state":"OUTPUT","arduino":"048385f20640044d","x":870,"y":60,"wires":[]},{"id":"0ead1cc93b4459c1","type":"ui_gauge","z":"cb04c2a971a28c8f","name":"","group":"099af9fe1f81df1f","order":0,"width":0,"height":0,"gtype":"gage","title":"Luchtvochtigheid","label":"Procent","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#0fe600","#cb3a3a"],"seg1":"40","seg2":"60","diff":false,"className":"","x":910,"y":420,"wires":[]},{"id":"7481248ef18ebef0","type":"delay","z":"cb04c2a971a28c8f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":680,"y":420,"wires":[["0ead1cc93b4459c1"]]},{"id":"f76b76c683f94ea4","type":"ui_text","z":"cb04c2a971a28c8f","group":"099af9fe1f81df1f","order":2,"width":0,"height":0,"name":"","label":"Status LED","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":890,"y":340,"wires":[]},{"id":"14837ea1dd4b0d93","type":"change","z":"cb04c2a971a28c8f","name":"green on dash","rules":[{"t":"set","p":"payload","pt":"msg","to":"Green LED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":320,"wires":[["f76b76c683f94ea4"]]},{"id":"fcf5a9603f678fa4","type":"change","z":"cb04c2a971a28c8f","name":"red on dash","rules":[{"t":"set","p":"payload","pt":"msg","to":"Red LED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":360,"wires":[["f76b76c683f94ea4"]]},{"id":"eb475f12b4c2e9b3","type":"change","z":"cb04c2a971a28c8f","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[["82ccd81bee9c97ef"]]},{"id":"8a276fffc202e486","type":"change","z":"cb04c2a971a28c8f","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":40,"wires":[["d2ac7fa4ea0a2634"]]},{"id":"8cbe4bbc53aec683","type":"change","z":"cb04c2a971a28c8f","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":80,"wires":[["d2ac7fa4ea0a2634"]]},{"id":"164f470c4bcd85fa","type":"change","z":"cb04c2a971a28c8f","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":280,"wires":[["82ccd81bee9c97ef"]]},{"id":"4319661808567430","type":"wiz-device","z":"cb04c2a971a28c8f","wiz_config":"6d07c225caa08e2c","ip":"192.168.178.188","x":1160,"y":140,"wires":[[],[],[],[],[],[],[]]},{"id":"1deb3c9bac19e969","type":"change","z":"cb04c2a971a28c8f","name":"dry","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"r\": 255, \"g\":255 ,\"b\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":120,"wires":[["4319661808567430"]]},{"id":"673a6bb436b6adf8","type":"change","z":"cb04c2a971a28c8f","name":"wet","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"r\": 0, \"g\":0 ,\"b\":255}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":160,"wires":[["4319661808567430"]]},{"id":"c4861d57b3a46aa4","type":"change","z":"cb04c2a971a28c8f","name":"perfect","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"r\": 0, \"g\":255 ,\"b\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":200,"wires":[["4319661808567430"]]},{"id":"8982e262cea68efc","type":"wiz-device","z":"4864378479941b34","wiz_config":"a3d3be54a65a810a","ip":"192.168.178.188","x":460,"y":600,"wires":[["4d436143723e388a"],[],[],[],["4d436143723e388a"],["4d436143723e388a"],["4d436143723e388a"]]},{"id":"a08aab2cc606cd1b","type":"inject","z":"4864378479941b34","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"color","payload":"{\"r\":200,\"g\":50,\"b\":0}","payloadType":"json","x":150,"y":300,"wires":[["3a490d56395e9acd"]]},{"id":"4d436143723e388a","type":"debug","z":"4864378479941b34","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":540,"wires":[]},{"id":"6d966f768684b601","type":"inject","z":"4864378479941b34","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"state","payload":"false","payloadType":"bool","x":120,"y":700,"wires":[["137de78474823921"]]},{"id":"137de78474823921","type":"ui_switch","z":"4864378479941b34","name":"","label":"lamp","tooltip":"","group":"099af9fe1f81df1f","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"state","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":250,"y":660,"wires":[["8982e262cea68efc"]]},{"id":"3a490d56395e9acd","type":"ui_slider","z":"4864378479941b34","name":"","label":"slider","tooltip":"","group":"099af9fe1f81df1f","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"color","topicType":"str","min":0,"max":10,"step":1,"className":"","x":310,"y":400,"wires":[["8982e262cea68efc"]]}]