flows/luchtvochtigheid v1.json
[
    {
        "id": "cb04c2a971a28c8f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94405c90ad4204dd",
        "type": "arduino in",
        "z": "cb04c2a971a28c8f",
        "name": "",
        "pin": "5",
        "state": "ANALOG",
        "arduino": "048385f20640044d",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "82121aa8914b9e65",
                "d91ea386a36b34e7",
                "7481248ef18ebef0"
            ]
        ]
    },
    {
        "id": "d91ea386a36b34e7",
        "type": "file",
        "z": "cb04c2a971a28c8f",
        "name": "",
        "filename": "/home/robka/Downloads/luchvochtigheid.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "82121aa8914b9e65",
        "type": "switch",
        "z": "cb04c2a971a28c8f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "40",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "40",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "60",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "51866ba89bd780de",
                "fcf5a9603f678fa4",
                "8a276fffc202e486",
                "164f470c4bcd85fa"
            ],
            [
                "b9310469e8c717f2",
                "14837ea1dd4b0d93",
                "eb475f12b4c2e9b3",
                "8cbe4bbc53aec683"
            ],
            [
                "289fa0350ef747c1",
                "fcf5a9603f678fa4",
                "8a276fffc202e486",
                "164f470c4bcd85fa"
            ]
        ]
    },
    {
        "id": "51866ba89bd780de",
        "type": "change",
        "z": "cb04c2a971a28c8f",
        "name": "too dry",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Het is droog in de kamer, zet een raam open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 120,
        "wires": [
            [
                "94d8e58b32fe9bf9"
            ]
        ]
    },
    {
        "id": "b9310469e8c717f2",
        "type": "change",
        "z": "cb04c2a971a28c8f",
        "name": "perfect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "De luchtvochtigheid in de kamer is optimaal",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "94d8e58b32fe9bf9"
            ]
        ]
    },
    {
        "id": "289fa0350ef747c1",
        "type": "change",
        "z": "cb04c2a971a28c8f",
        "name": "too wet",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "de kamer is veel te nat, zet een raam open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "94d8e58b32fe9bf9"
            ]
        ]
    },
    {
        "id": "94d8e58b32fe9bf9",
        "type": "ui_text",
        "z": "cb04c2a971a28c8f",
        "group": "099af9fe1f81df1f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status luchvochtigheid",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "82ccd81bee9c97ef",
        "type": "arduino out",
        "z": "cb04c2a971a28c8f",
        "name": "green",
        "pin": "10",
        "state": "OUTPUT",
        "arduino": "048385f20640044d",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "d2ac7fa4ea0a2634",
        "type": "arduino out",
        "z": "cb04c2a971a28c8f",
        "name": "red",
        "pin": "9",
        "state": "OUTPUT",
        "arduino": "048385f20640044d",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "0ead1cc93b4459c1",
        "type": "ui_gauge",
        "z": "cb04c2a971a28c8f",
        "name": "",
        "group": "099af9fe1f81df1f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luchtvochtigheid",
        "label": "Procent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#0fe600",
            "#cb3a3a"
        ],
        "seg1": "40",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "7481248ef18ebef0",
        "type": "delay",
        "z": "cb04c2a971a28c8f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 420,
        "wires": [
            [
                "0ead1cc93b4459c1"
            ]
        ]
    },
    {
        "id": "f76b76c683f94ea4",
        "type": "ui_text",
        "z": "cb04c2a971a28c8f",
        "group": "099af9fe1f81df1f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status LED",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "14837ea1dd4b0d93",
        "type": "change",
        "z": "cb04c2a971a28c8f",
        "name": "green on dash",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Green LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 320,
        "wires": [
            [
                "f76b76c683f94ea4"
            ]
        ]
    },
    {
        "id": "fcf5a9603f678fa4",
        "type": "change",
        "z": "cb04c2a971a28c8f",
        "name": "red on dash",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Red LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 360,
        "wires": [
            [
                "f76b76c683f94ea4"
            ]
        ]
    },
    {
        "id": "eb475f12b4c2e9b3",
        "type": "change",
        "z": "cb04c2a971a28c8f",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "82ccd81bee9c97ef"
            ]
        ]
    },
    {
        "id": "8a276fffc202e486",
        "type": "change",
        "z": "cb04c2a971a28c8f",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 40,
        "wires": [
            [
                "d2ac7fa4ea0a2634"
            ]
        ]
    },
    {
        "id": "8cbe4bbc53aec683",
        "type": "change",
        "z": "cb04c2a971a28c8f",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "d2ac7fa4ea0a2634"
            ]
        ]
    },
    {
        "id": "164f470c4bcd85fa",
        "type": "change",
        "z": "cb04c2a971a28c8f",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "82ccd81bee9c97ef"
            ]
        ]
    },
    {
        "id": "048385f20640044d",
        "type": "arduino-board",
        "device": "/dev/ttyACM0"
    },
    {
        "id": "099af9fe1f81df1f",
        "type": "ui_group",
        "name": "Sprint 1",
        "tab": "5e75b1098ebb33e7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e75b1098ebb33e7",
        "type": "ui_tab",
        "name": "HVA",
        "icon": "Sprint 1",
        "disabled": false,
        "hidden": false
    }
]